export MIX_TARGET="rpi3"
#export CIRCUITS_MIX_ENV="prod"
export NERVES_NETWORK_SSID=""
export NERVES_NETWORK_PSK=""
export NERVES_NETWORK_KEY_MGMT="WPA-PSK"
export LATITUDE="42.774136"
export LONGITUDE="-86.210081"
export DARKSKY_API_KEY=""
export OWM_API_KEY=""
